/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: Borest-Standard;
  src: url(../fonts/FontsFree-Net-Borest-Standard.ttf);
}

a {
  text-decoration: none;
}

a.nav-link {
  padding: 0px;
}
nav .btn {
  border: none;
}

/* header start */
header {
  padding-top: 100px;
  background-image: url(../images/main-bg.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.mobile-logo {
  display: none;
}

nav {
  width: 100%;
  padding: 15px 48px !important;
  position: fixed !important;
}
nav.nav-scroll-active {
  position: fixed !important;
  top: 0px;
  left: 0px;
  z-index: 999 !important;
  backdrop-filter: blur(20.6px);
  background-color: rgba(249, 249, 249, 0.35);
  box-shadow: 0px 10px 38px -28px rgba(66, 68, 90, 1);
  transition: 0.4s;
}
nav a .navbar-brand img {
  width: 156px;
  height: 72px;
}

nav ul {
  padding-right: 24px;
}

nav ul li a span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #a17445;
}

.btn {
  padding: 0px;
}

.btn button {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.7;
  text-align: center;
  color: #ffffff;
  background-color: #4a7f5e;
  padding: 10px 16px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.btn button:hover {
  background-color: #3e6c4d;
}
.hero {
  background-image: url(../images/frame.png);
  background-size: 703px 500px;
  background-position: bottom right;
  background-repeat: no-repeat;
  object-fit: contain;
  margin-bottom: -54px;
}
.hero .hero-content-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero .hero-content .mobile-logo {
  display: none;
}
.hero .hero-content h4 {
  margin-bottom: 20px;
  width: 100%;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #a17445;
}

.hero .hero-content h2 {
  margin-bottom: 20px;
  width: 100%;
  font-family: Borest-Standard;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #a17445;
}

.hero .hero-content p {
  margin-bottom: 20px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #a17445;
}

iconify-icon {
  font-size: 17px;
  padding-right: 8px;
}
.hero .hero-content .hero-btn {
  display: none;
}
.hero .hero-content a {
  text-decoration: none;
  color: #ffffff;
}
.hero .hero-content button {
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  fill: var(--e-global-color-e6b3573);
  color: #ffffff;
  background-color: #4a7f5e;
  border-radius: 5px 5px 5px 5px;
  padding: 16px 39px;
  border: none;
}
.hero .hero-content button:hover {
  background-color: #3a5c4a;
}
.hero img {
  width: 100%;
  object-fit: contain;
  object-position: 15% 80%;
  max-width: 546px;
}

/* blur rectangle start here */
header .count-num {
  display: none;
}
header .blur-rectangle {
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 10px;
  padding-left: 60px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(249, 249, 249, 0.35);
}
header .blur-rectangle p {
  margin: 0px;
  font-family: Manrope;
  font-size: 23px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  color: #a17445;
}
header .blur-rectangle .event-time {
  display: flex;
  justify-content: space-around;
}
header .blur-rectangle .event-time .countdown p {
  font-family: Manrope;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  color: #4a7f5e;
  margin: 0px;
}
header .blur-rectangle .event-time .countdown .time-txt {
  font-family: Manrope;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #4a7f5e;
}
header .blur-rectangle .event-time .colon {
  font-family: Manrope;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  color: #4a7f5e;
  margin: 0px;
}
header .blur-rectangle .v-line {
  display: flex;
  justify-content: center;
}
header .blur-rectangle .v-line::after {
  content: "";
  position: absolute;
  bottom: 25px;
  width: 2px;
  height: 73px;
  margin: 7px 38px 0 40px;
  background-color: #b2905f;
}
header .blur-rectangle .number {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
header .blur-rectangle .number .number-content {
  display: flex;
  flex-direction: column;
}
header .blur-rectangle .number .num {
  margin: 0px;
  font-family: Manrope;
  font-size: 60px;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  color: #a17445;
}
header .blur-rectangle .number .num-text {
  margin: 0px;
  font-family: Manrope;
  font-size: 60px;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  color: #a17445;
}
header .blur-rectangle .number .num-details {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #a17445;
}
/* blur rectangle end here */

/* header end */

/* our exhibitor start */
.exhibitor {
  background-image: url(../images/mask-group.png);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
.exhibitor .scrolling-img #golden-neckless {
  width: 100%;
  max-width: 210px;
  height: auto;
  position: absolute;
  top: 0%;
  right: 40%;
  opacity: 0;
  z-index: 1;
  display: block;
}
.exhibitor .scrolling-img #golden-neckless-mobile {
  display: none;
}
.jewel-body-img-mob {
  display: none;
}
.exhibitor .img-left {
  text-align: left;
  position: relative;
}
.exhibitor .img-left img.jewel-body-img {
  width: 100%;
  max-width: 220px;
  height: 260px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
}
.exhibitor .img-right {
  text-align: right;
  position: relative;
}
.exhibitor .img-right img {
  width: 100%;
  max-width: 250px;
  height: 180px;
  position: absolute;
  right: 0px;
  bottom: 170px;
}
.exhibitor .exhibitor-corner {
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 45px;
}
.exhibitor .exhibitor-corner .exhibitor-features-padding {
  padding-top: 30px;
}
.exhibitor .mask-img img {
  width: 100%;
  max-width: 538px;
  height: 570px;
  object-fit: contain;
}
.exhibitor #golden-neckless {
  width: 100%;
  max-width: 261px;
  height: 274px;
  position: absolute;
  top: 0%;
  right: 40%;
  z-index: 1;
  opacity: 0;
}
.exhibitor .exhibitor-content {
  padding-left: 36px;
}
.exhibitor .mask-img h2 {
  display: none;
}
.exhibitor .exhibitor-content .exhibitor-text h2 {
  margin-bottom: 20px;
  font-family: Borest-Standard;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a17445;
}
.exhibitor .exhibitor-content .exhibitor-text p {
  margin-bottom: 25px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a17445;
}
.exhibitor .exhibitor-content .exhibitor-btn {
  margin-top: 30px;
}
.exhibitor .exhibitor-content .exhibitor-btn .register-btn {
  text-decoration: none;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  background-color: #4a7f5e;
  padding: 16px 39px;
}
.exhibitor .exhibitor-content .exhibitor-btn .register-btn:hover {
  background-color: #3a5c4a;
}
.exhibitor .exhibitor-content .exhibitor-btn .floor-btn {
  text-decoration: none;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: #4a7f5e;
  border: 2px solid #4a7f5e;
  padding: 15px 52px;
}
.exhibitor .exhibitor-content .exhibitor-btn .floor-btn:hover {
  /* background-color: #3a5c4a; */
  color: #3a5c4a;
  border-color: #3a5c4a;
}
/* Style the modal */
.exhibitor .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.exhibitor .modal button {
  background: transparent;
  border: none;
  text-align: right;
}
.exhibitor .modal-dialog {
  position: relative;
  width: auto;
  max-width: 1080px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.exhibitor .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 10px;
  outline: 0;
}

.exhibitor .modal-header {
  width: 980px;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 37px 0px 0px 0px;
  border: none;
  margin: 0 auto;
}
.exhibitor .modal-header .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.exhibitor .modal-header .left span p {
  margin: 0px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #a17445;
}

.exhibitor .modal-body {
  text-align: center;
  position: relative;
  flex: 1 1 auto;
  padding: 28px 0px 0px 0px;
}

.exhibitor .modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 0px 0px 0px;
  border: none;
}
.exhibitor .modal-footer ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}
.exhibitor .modal-footer ul p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #a17445;
}
.exhibitor .pop-header-text {
  display: block;
}
.exhibitor .pop-header-text-mobile {
  display: none;
}

.exhibitor .exhibitor-features {
  height: 130px;
  display: flex;
  overflow: hidden;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.exhibitor .exhibitor-features .company-logo {
  display: flex;
  align-items: center;
  animation: scroll 20s linear infinite;
}
.exhibitor .exhibitor-features .company-logo .CName {
  margin: 0px 20px;
  width: 228px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 6px;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.05),
    0 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.exhibitor .exhibitor-features .company-logo .CName:first-child {
  margin-left: 20px;
}
.exhibitor .exhibitor-features .company-logo .CName:last-child {
  margin-right: 20px;
}
.img-left-mobile {
  display: none;
}
/* our exhibitor end */

/* visitors hub start */

.visitors-hub {
  padding: 50px 0px;
}

.title h2 {
  margin: 0px;
  padding-bottom: 40px;
  font-family: Borest-Standard;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a17445;
}
.visitor-registration .visitor-registration-content {
  height: 170px;
}
.vip-visitor-registration .vip-visitor-registration-content {
  height: 170px;
}
.visitor-registration {
  background-image: url(../images/Visitor\ Registration.gif),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 635px;
  min-height: 662px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-radius: 10px;
  padding-bottom: 76px;
}
.visitor-registration h2 {
  color: #ffffff;
  font-family: Borest-Standard;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: 48px;
  letter-spacing: normal;
  text-align: center;
  margin: 0px;
  padding-bottom: 2px;
}
.visitor-registration p {
  color: #ffffff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 27px;
  letter-spacing: normal;
  text-align: center;
  margin: 0px;
  padding-bottom: 32px;
}
.visitor-registration .register-now-btn {
  text-decoration: none;
  color: #ffffff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 16px 39px;
  background-color: #4a7f5e;
  border-radius: 5px;
  border: none;
}
.visitor-registration .register-now-btn:hover {
  background-color: #3a5a4f;
}
.vip-visitor-registration {
  background-image: url(../images/VIP\ Visitor\ Registration.gif),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

  min-height: 662px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-radius: 10px;
  padding-bottom: 76px;
}
.vip-visitor-registration h2 {
  color: #ffffff;
  font-family: Borest-Standard;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: 48px;
  letter-spacing: normal;
  text-align: center;
  margin: 0px;
  padding-bottom: 2px;
}
.vip-visitor-registration p {
  margin: 0px;
  padding-bottom: 32px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 27px;
  letter-spacing: normal;
  text-align: center;
}

.vip-visitor-registration .know-more-btn {
  text-decoration: none;
  color: #ffffff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding: 16px 39px;
  background-color: #4a7f5e;
  border-radius: 5px;
  border: none;
}
.vip-visitor-registration .know-more-btn:hover {
  background-color: #3a5a4f;
}
/* Style the modal */
.visitors-hub .vip-visitor-registration .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.visitors-hub .vip-visitor-registration .modal button {
  position: absolute;
  top: -20px;
  right: -65px;
  background: transparent;
  border: none;
  text-align: right;
  font-size: 14px;
}
.visitors-hub .vip-visitor-registration .modal button img {
  width: 14px;
  height: 14px;
}
.visitors-hub .vip-visitor-registration .modal-dialog {
  position: relative;
  width: auto;
  max-width: 884px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 70px 40px 40px 40px;
  border-bottom: 27px solid #4a7f5e;
}

.visitors-hub .vip-visitor-registration .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 670px;
  margin: 0px auto;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  outline: 0;
}

.visitors-hub .vip-visitor-registration .modal-header {
  display: block !important;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border: none;
}

.visitors-hub .vip-visitor-registration h2.modal-title {
  font-family: Borest-Standard;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  color: #a17445 !important;
  padding-bottom: 20px;
}
.visitors-hub .vip-visitor-registration .sub-heading {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #a17445 !important;
  margin: 0px auto;
  padding-bottom: 20px;
}

.visitors-hub .vip-visitor-registration .modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0px;
}
.visitors-hub .vip-visitor-registration .modal-body p.modal-body-heading {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #a17445;
  padding-bottom: 20px;
}
.visitors-hub .vip-visitor-registration .modal-body ol {
  margin-bottom: 0px;
  color: #a17445;
}
.visitors-hub .vip-visitor-registration .modal-body ol p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #a17445;
  padding-bottom: 20px;
}
.visitors-hub .vip-visitor-registration .modal-body .modal-body-footer {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #a17445;
  padding-bottom: 20px;
}
.visitors-hub .vip-visitor-registration .modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border: none;
}
.visitors-hub .vip-visitor-registration .modal-footer p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #a17445;
  padding: 0px !important;
}
/* visitors hub end */

/* about jewels start */
.about-jewels {
  background-image: url(../images/about-jewels-bg.png);
  background-size: cover;
  background-position: -65px bottom;
  background-repeat: no-repeat;
  padding-top: 80px;
  position: relative;
}
.about-jewels .earrings-img .earrings-1 {
  position: absolute;
  left: 0px;
  bottom: 60px;
  z-index: 10;
}
.about-jewels .earrings-img .earrings-2 {
  position: absolute;
  left: 80px;
  bottom: 60px;
  z-index: 10;
}
.about-jewels .earrings-img .earrings-mobile-1 {
  display: none;
}
.about-jewels .earrings-img .earrings-mobile-2 {
  display: none;
}
.about-jewels .about-jewels-txt h2 {
  margin: 0px;
  padding-bottom: 20px;
  font-family: Borest-Standard;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  color: #a17445;
}
.about-jewels .about-jewels-txt p {
  width: 1002px;
  margin: 0px auto;
  padding-bottom: 38px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #a17445;
}
.about-jewels .about-jewels-video {
  text-align: center;
  position: relative;
}
.about-jewels .about-jewels-video img {
  text-align: center;
  position: relative;
  z-index: 2;
}
.about-jewels .about-jewels-video iframe {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
/* about jewels end */

/* jewel form start */
.jewel-form {
  padding: 60px 0px;
}
.jewel-form .gap {
  display: block !important;
}
.jewel-form .jewel-form-left {
  background-image: url(../images/silver-neckless.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 576px;
  height: 712px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.jewel-form .jewel-form-left .jewel-form-left-content span a {
  text-decoration: none;
  color: #373435;
  font-family: "Manrope", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
}

.jewel-form .jewel-form-left .jewel-form-left-content .address {
  padding-bottom: 11px;
}
.jewel-form .jewel-form-left .jewel-form-left-content .address img {
  padding-right: 6px;
}
.jewel-form .jewel-form-left .jewel-form-left-content .contact img {
  padding-right: 5px;
}
.jewel-form .jewel-form-right h4 {
  font-family: Borest-Standard;
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  color: #a17445;
  margin: 0px;
  padding-bottom: 48px;
}
.jewel-form .jewel-form-right .space-bottom {
  padding-bottom: 20px;
}
.jewel-form .jewel-form-right .brand-name {
  padding-bottom: 40px;
}
.jewel-form .jewel-form-right label {
  margin: 0px;
  padding-bottom: 6px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgba(55, 52, 53, 0.7);
}
.jewel-form .jewel-form-right .form-check label {
  padding-bottom: 0px;
  padding-left: 5px;
}
.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  color: rgba(55, 52, 53, 0.7);
}
.form-check-input.is-invalid ~ .form-check-label,
.was-validated .form-check-input:invalid ~ .form-check-label {
  color: rgba(55, 52, 53, 0.7);
}
.form-check-input.is-invalid,
.was-validated .form-check-input:invalid {
  border-color: #dc3545 !important;
}
.jewel-form .jewel-form-right input[type="text"],
input[type="email"],
input[type="number"] {
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  border: solid 1px rgba(55, 52, 53, 0.3);
  background-color: #fff;
}
.jewel-form .jewel-form-right input::placeholder {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #3734354d;
}
.jewel-form .jewel-form-right .form-check {
  /* width: 150px; */
  padding-left: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.jewel-form .jewel-form-right input[type="radio"] {
  appearance: none;
  outline: none;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  padding: 0.25rem;
  border: 1px solid #4a7f5e;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  position: relative;
}
.form-check-input:checked[type="radio"] {
  background-image: none;
}
.form-check-input:checked {
  background-color: #4a7f5e;
}
.jewel-form .jewel-form-right .form-check-input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 0px;
  border-radius: 6px;
  padding-right: 5px;
}
.jewel-form .jewel-form-right input[type="text"],
input[type="email"],
input[type="number"],
input[type="radio"]:focus {
  border: 1px solid #3734354d;
  outline: none;
  box-shadow: none !important;
}
.jewel-form .jewel-form-right .form-control:focus {
  border: 1px solid #3734354d;
}

.jewel-form .jewel-form-right .form-btn button {
  width: 100%;
  padding: 15px 40px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  background-color: #4a7f5e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.jewel-form .jewel-form-right .form-btn button:hover {
  background-color: #3f6e54;
}
/* jewel form end */

/* FAQ start */
.faq {
  background-image: url(../images/footer-bg.svg);
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.faq .faq-header {
  padding: 60px 0;
}
.faq .faq-header h2 {
  font-family: Borest-Standard;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #a17445;
  margin: 0px;
  padding-bottom: 30px;
}
.faq .faq-header p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #a17445;
  margin: 0px;
}
.faq .faq-content {
  padding-bottom: 60px;
}
.faq .faq-content .accordion-item {
  padding-bottom: 12px;
  border: none;
  border-bottom: 1px solid #a17445;
  border-radius: 0px;
  background: transparent;
}
.faq .faq-content .accordion-item .accordion-body {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a17445;
}
.faq .faq-content .accordion-item button {
  border: none;
  background-color: transparent;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #a17445;
}
.faq .faq-content .accordion-item .accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a17445' ><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.faq .faq-content .accordion-item button:focus {
  box-shadow: none;
  outline: none;
  border: none;
}
.faq-img {
  width: 100%;
  max-width: 627px;
  height: 493px;
  border-radius: 5px;
}
.faq-img-mobile {
  display: none;
}
/* FAQ end */

/* footer start */
.footer {
  padding-top: 46px;
  padding-bottom: 130px;
  width: 1095px;
  margin: 0px auto;
}
.footer p {
  margin: 0px;
  font-size: 18px;
}
.footer .footer-logo {
  margin: 0px auto;
  width: 185px;
  height: 85px;
}
.footer .footer-logo img {
  width: 100%;
  height: 85px;
}
.footer .social img {
  width: 36px;
  height: 36px;
}
.footer .footer-text {
  padding-top: 32px;
  padding-bottom: 40px;
}
.footer .footer-text p {
  width: 1095px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.68;
  letter-spacing: normal;
  text-align: center;
  color: #a17445;
}
/* footer end */

/* footer social start */
.footer .social-mobile-footer {
  display: none;
}

.footer .social-footer {
  display: flex;
  justify-content: space-around;
  align-items: start;
}
.footer .social-footer .social {
  display: flex;
  align-items: center;
}
.footer .social-footer .social .social-txt {
  padding-left: 12px;
}
.footer .social-footer .social p:first-child {
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 19px;
  letter-spacing: normal;
  text-align: left;
  color: #bc8f60;
}
.footer .social-footer .social p:last-child {
  font-family: Poppins;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-align: left;
  color: #bc8f60;
}
/* .social .social-txt {
  padding-left: 12px;
}
.social .fb-icon-img {
  padding-right: 12px;
} */
/*footer social end */

/* copyright start */
.copyright {
  color: #ffffff;
  background-color: #4a7f5e;
}
.copyright .copyright-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright h2 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 0px;
}
/* copyright end */

/* media query */
@media only screen and (max-width: 767px) {
  /* ================ nav start =================== */
  .mobile-logo {
    display: block;
    text-align: left;
  }
  nav {
    display: none !important;
  }
  /* ================ nav end =================== */

  /* ================ header start =================== */
  /* ++ hero start ++ */
  header {
    padding-top: 0px;
  }
  header .hero-btn {
    display: block;
  }
  .hero .mobile-logo img {
    width: 100%;
    max-width: 92px;
    height: 42px;
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 40px;
  }
  .hero .hero-content-container {
    justify-content: center !important;
  }
  .hero .hero-content {
    display: flex;
    flex-direction: column;
  }
  .hero .hero-content h4 {
    margin-bottom: 12px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: normal;
    text-align: center;
  }
  .hero .hero-content h2 {
    margin-bottom: 12px;
    font-size: 32px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #a17445;
  }
  .hero .hero-content p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 4px;
  }
  .hero .hero-content p iconify-icon {
    font-size: 12px;
  }
  .hero .hero-content .hero-btn {
    padding: 24px 0px;
    display: block;
  }
  .hero .hero-content .hero-btn button {
    font-size: 12px;
    line-height: 24px;
    padding: 8px 17px 8px 17px;
  }
  .hero .hero-content .register-now-btn {
    display: none !important;
  }
  .hero img {
    max-width: 100%;
  }
  /* ++ hero end ++ */
  /* ++ blur rectangle start ++ */
  header .blur-rectangle {
    width: 100%;
    padding: 8px 16px;
  }
  header .blur-rectangle .number {
    align-items: center;
    display: inline-block;
  }
  header .blur-rectangle .event-time {
    width: 200px;
    margin: 0px auto;
  }
  header .blur-rectangle p {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #a17445;
  }
  header .blur-rectangle .event-time .countdown p {
    font-family: Manrope;
    font-size: 28px !important;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    color: #4a7f5e;
  }
  header .blur-rectangle .event-time .countdown .time-txt {
    font-size: 10px !important;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #4a7f5e;
  }
  header .blur-rectangle .event-time .colon {
    font-size: 28px !important;
    font-weight: bold;
    line-height: 32px;
    color: #4a7f5e;
  }
  header .blur-rectangle .number {
    display: none;
  }
  header .count-num {
    display: block;
  }
  header .count-num .number .number-content {
    text-align: center;
  }
  header .count-num .number {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 18px;
    height: 88px;
    -webkit-backdrop-filter: blur(20.6px);
    backdrop-filter: blur(20.6px);
    background-color: #deeae9;
  }
  header .count-num .number .num {
    font-size: 20px !important;
    font-weight: bold;
    line-height: 24px;
    color: #4a7f5e;
  }
  header .count-num .number .num-text {
    font-size: 20px !important;
    font-weight: bold;
    line-height: 24px;
    color: #4a7f5e;
  }
  header .count-num .number .num-details {
    font-size: 10px !important;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #4a7f5e;
  }
  header .blur-rectangle .v-line::after {
    display: none;
  }
  /* ++ blur rectangle end ++ */
  /* ================ header end =================== */

  /* ================ exhibitor start =================== */
  .exhibitor .gold-neckless {
    display: none;
  }
  .exhibitor .gold-neckless-mobile {
    display: block;
  }
  .exhibitor .exhibitor-corner {
    padding: 40px 15px;
  }
  .exhibitor .mask-img {
    text-align: center;
  }
  .exhibitor .mask-img h2 {
    display: block;
    -webkit-text-stroke: 0.5px #a17445;
    font-family: Borest-Standard;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    color: #a17445;
    padding-bottom: 20px;
    margin: 0px;
  }
  .exhibitor .mask-img img {
    width: 100%;
    max-width: 238px;
    height: 250px;
    margin: 0px auto;
    margin-bottom: 20px;
  }
  .exhibitor .exhibitor-content {
    padding: 0px;
  }
  .exhibitor .exhibitor-text h2 {
    display: none;
  }
  .exhibitor .exhibitor-content .exhibitor-text p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: #a17445;
    margin-bottom: 8px;
  }
  .exhibitor .exhibitor-content .exhibitor-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .exhibitor .exhibitor-content .exhibitor-btn a {
    max-width: 180px;
    width: 100%;
  }
  .exhibitor .exhibitor-content .exhibitor-btn a .register-btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
  }
  .exhibitor .exhibitor-content .exhibitor-btn a .floor-btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
  }
  .exhibitor .modal-header img {
    width: 1005;
    max-width: 92px;
    height: 42px;
  }
  .pop-header-text span img {
    width: 18px;
    height: 18px !important;
  }
  .exhibitor .modal-header .left span p {
    font-size: 12px;
    line-height: 18px;
  }
  .exhibitor .img-right img {
    width: 100%;
    max-width: 39px;
    height: 32px;
    position: absolute;
    bottom: 150px;
  }
  .exhibitor .img-left img {
    display: none;
  }
  .exhibitor .img-left-mobile {
    position: relative;
    text-align: left;
    z-index: -1;
  }
  .exhibitor .img-left-mobile img {
    width: 100%;
    max-width: 39px;
    height: 32px;
    position: absolute;
    bottom: 10px;
  }
  .exhibitor .exhibitor-features {
    display: flex;
  }
  .exhibitor .exhibitor-features .company-logo {
    display: flex;
    align-items: center;
  }
  .exhibitor .exhibitor-features .company-logo .CName {
    margin: 0px 10px;
    width: 125px;
    height: 46px;
    border-radius: 3.3px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.05),
      0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .exhibitor .modal-footer ul li p {
    font-size: 12px;
    line-height: 18px;
  }
  .exhibitor .pop-header-text {
    display: none;
  }
  .exhibitor .pop-header-text-mobile {
    display: block;
  }
  .exhibitor .pop-header-text-mobile ul {
    list-style: none;
    padding-top: 12px;
    padding-left: 0px;
  }
  .exhibitor .pop-header-text-mobile ul img {
    height: 24px;
  }
  .exhibitor .pop-header-text-mobile ul li p {
    font-size: 14px;
    line-height: 18px;
    color: #a17445;
    margin: 0px;
  }
  .exhibitor .exhibitor-features .company-logo .CName img {
    height: 20px;
  }
  /* ================ exhibitor end =================== */

  /* ================ visitor hub start =================== */
  .visitor-hub {
    padding: 40px 0px;
  }
  .visitors-hub .title h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    padding-bottom: 28px;
  }
  .visitors-hub .visitor-registration {
    margin: 0px auto;
    margin-bottom: 26px;
    width: 100%;
    min-height: 342px;
    padding-bottom: 0px;
  }
  .visitors-hub .vip-visitor-registration {
    margin: 0px auto;
    width: 100%;
    min-height: 342px;
    padding-bottom: 0px;
  }
  .visitors-hub .visitor-registration h2 {
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
  }
  .visitors-hub .visitor-registration p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .visitors-hub .visitor-registration a {
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    padding: 8px 39px;
  }
  .visitors-hub .vip-visitor-registration h2 {
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
  }
  .visitors-hub .vip-visitor-registration p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .visitors-hub .vip-visitor-registration a {
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    padding: 8px 39px;
  }
  .visitors-hub .visitor-registration .visitor-registration-content {
    padding-bottom: 24px;
    height: auto;
  }
  .visitors-hub .vip-visitor-registration .vip-visitor-registration-content {
    padding-bottom: 24px;
    height: auto;
  }
  .visitors-hub .vip-visitor-registration .modal button {
    position: absolute;
    top: -50px;
    right: -25px;
    background: transparent;
    border: none;
    text-align: right;
    font-size: 14px;
  }
  /* ================ visitor hub end =================== */

  /* ================ about jewels start =================== */
  .about-jewels {
    padding-top: 40px;
    background-position: -35px bottom;
  }
  .about-jewels .earrings-img .earrings {
    display: none;
  }
  .about-jewels .earrings-img {
    position: absolute;
    bottom: 45px;
    left: 5px;
  }
  .about-jewels .earrings-img .earrings-mobile-2 {
    width: 25px;
  }
  .about-jewels .earrings-img .earrings-mobile-1 {
    width: 25px;
  }
  .about-jewels .about-jewels-txt h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    padding-bottom: 12px;
  }
  .about-jewels .about-jewels-txt p {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding-bottom: 24px;
  }
  .about-jewels .about-jewels-video img {
    width: 100%;
    max-width: 333px;
    height: 180px;
  }
  iframe {
    width: 282px;
    height: 160px;
  }
  /* ================ about jewels end =================== */

  /* ================ jewels form start =================== */
  .jewel-form {
    padding: 40px 0px;
  }
  .jewel-form .jewel-form-left {
    width: 100%;
    height: 497px;
    margin: 0px auto;
    padding: 12px;
  }
  .jewel-form .jewel-form-left .jewel-form-left-content .address img {
    padding-right: 5px;
    height: 14px;
  }
  .jewel-form .jewel-form-left .jewel-form-left-content span a {
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;
  }
  .jewel-form .jewel-form-left .jewel-form-left-content .contact img {
    height: 14px;
  }
  .jewel-form .jewel-form-right {
    padding-top: 40px;
  }
  .jewel-form .jewel-form-right .space-bottom {
    padding-bottom: 16px;
  }
  .jewel-form .jewel-form-right .space-bottom .form-check label {
    padding-bottom: 0px;
  }
  .jewel-form .jewel-form-right .brand-name {
    padding-bottom: 28px;
  }
  .jewel-form .jewel-form-right h4 {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 28px;
  }
  .jewel-form .jewel-form-right label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .jewel-form .jewel-form-right input[type="text"] {
    padding: 8px 12px;
    border-radius: 4px;
  }
  .jewel-form .jewel-form-right input[type="email"] {
    padding: 8px 12px;
    border-radius: 4px;
  }
  .jewel-form .jewel-form-right input[type="number"] {
    padding: 8px 12px;
    border-radius: 4px;
  }
  .jewel-form .jewel-form-right input[type="text"]::placeholder {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
  }
  .jewel-form .jewel-form-right input[type="email"]::placeholder {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
  }
  .jewel-form .jewel-form-right input[type="number"]::placeholder {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
  }
  .jewel-form .jewel-form-right .form-check-input[type="radio"] {
    width: 14px;
    height: 14px;
    border-radius: 4px;
  }
  .jewel-form .jewel-form-right .form-check {
    width: 100px;
  }
  .jewel-form .jewel-form-right .form-btn button {
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
  }
  /* ================ jewels form end =================== */

  /* ================ faq start =================== */
  .faq {
    padding-top: 40px;
  }
  .faq .faq-header {
    margin: 0px auto;
    width: 235px;
    padding: 0px;
    padding-bottom: 20px;
  }
  .faq .faq-header h2 {
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 12px;
  }
  .faq .faq-header .text {
    display: none;
  }
  .faq .faq-header .mobile-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .faq-img-mobile {
    width: 100%;

    border-radius: 5px;
    padding-bottom: 40px;
    display: block;
  }
  .faq-img {
    display: none;
  }
  .faq .faq-content {
    padding-bottom: 12px;
  }
  .faq .faq-content .accordion-item {
    padding: 0px;
  }
  .faq .faq-content .accordion-item button {
    font-size: 14px;
    padding: 16px 0px;
  }
  .accordion {
    --bs-accordion-border-width: 0px;
    --bs-accordion-btn-icon-width: 14px;
  }
  .faq .faq-content .accordion-item .accordion-body {
    font-size: 12px;
    padding: 0px;
    padding-bottom: 16px;
  }
  /* ================ faq end =================== */

  /* ================ footer start =================== */
  .footer {
    width: 100%;
    padding: 30px 0px 50px 0px;
  }
  .footer .footer-logo {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .footer .footer-text {
    padding: 20px 0px;
  }
  .footer .footer-logo img {
    width: 100%;
    max-width: 92px;
    height: 43px;
  }
  .footer .footer-text p {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
  }
  .footer .social-footer {
    display: none;
  }
  .footer .social-mobile-footer {
    display: block;
  }
  .footer .social-mobile-footer .social {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .footer .social-mobile-footer .social .address,
  .call-us,
  .mail-us {
    text-align: center;
    width: 130px;
  }
  .footer .social-mobile-footer .social img {
    width: 100%;
    max-width: 24px;
    height: 24px;
  }
  .footer .social-mobile-footer .follow-us {
    padding-top: 10px;
    text-align: center;
  }
  .footer .social-mobile-footer .follow-us img {
    width: 100%;
    max-width: 24px;
    height: 24px;
  }
  .footer .social-mobile-footer .social .social-txt p {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    color: #bc8f60;
  }
  .footer .social-mobile-footer .social .social-txt p:last-child {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    color: #bc8f60;
  }
  .footer .social-mobile-footer .social-txt p {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    color: #bc8f60;
  }
  .footer .social-mobile-footer .social-txt p:last-child {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    color: #bc8f60;
  }
  .footer .social-mobile-footer .social .follow-us {
    display: inpine-block;
  }
  /* ================ footer end =================== */

  /* ================ copyright start =================== */
  .copyright .copyright-content {
    padding: 4px 18px;
  }
  .copyright h2 {
    font-size: 8px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }
  /* ================ copyright end =================== */
}
/* ======================================== */
/* ======================================== */
@media (min-width: 320px) {
  .hero .hero-content h2 {
    line-height: 35px;
  }
  .exhibitor .scrolling-img #golden-neckless-mobile {
    width: 100%;
    max-width: 110px;
    position: absolute;
    left: 90px;
  }
  .hero .hero-content .hero-btn {
    text-align: center;
  }
  .hero .hero-content .hero-btn button {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .exhibitor .scrolling-img #golden-neckless-mobile {
    width: 100%;
    max-width: 110px;
    position: absolute;
    left: 119px;
  }
  .hero .hero-content .hero-btn {
    text-align: center;
  }
  .hero .hero-content .hero-btn button {
    width: 100%;
    margin-bottom: 20px;
  }
  .jewel-body-img-mob {
    display: block;
  }
  .jewel-body-img {
    display: none;
  }
  .gold-neckless-mobile {
    display: none;
  }
}
@media (min-width: 425px) {
  .exhibitor .scrolling-img #golden-neckless-mobile {
    width: 100%;
    max-width: 110px;
    position: absolute;
    left: 143px;
  }
}
@media (min-width: 768px) {
  .hero .hero-content .hero-btn button {
    width: 100%;
  }
  header .count-num .number {
    width: 100%;
  }
  .exhibitor .scrolling-img #golden-neckless-mobile {
    left: 314px;
  }
  .visitors-hub .visitor-registration {
    max-width: 100%;
  }
  .jewel-form .gap {
    display: none;
  }
  .footer {
    width: 100%;
  }
}
@media only screen and (max-width: 1280px) {
  .exhibitor #golden-neckless {
    width: 100%;
    max-width: 261px;
    height: 274px;
    position: absolute;
    top: 0%;
    right: 50%;
    z-index: 1;
    opacity: 0;
  }
}
